*{
    margin: 0;
    padding: 0;
}
.principal{
    background-image: url(imagem/davi.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height: 120vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: 600;
    font-style: italic;
}

.container_botao{
    background-color: black;
    border-radius: 60 Xpx;
    padding: 1em;
    color: white;
    display: block;
    border: 6px solid red;
    text-decoration: none;
}
.botao_secundario{
    background-color: black;
    border: 6px solid red;
}
.container_botao{
    margin: 3%;
}
.container_aviso{
    font-size: 15px;
}
